node_modules
**/node_modules
dist
**/dist
artifacts
**/artifacts
cache
**/cache
coverage
**/coverage
types
**/types
web/.next
web/out
backend/dist
**/*.tsbuildinfo
package-lock.json
backend/package-lock.json
web/package-lock.json
deployments
**/deployments
